.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: contain;
    background-position: 50% 50%;
    background-image: url('../img/tejedorabg.png');
    background-repeat:no-repeat;
}

a.sonata-ba-action {
    margin-top: 10px;
}

@media(min-width:768px) {
    .sonata-ba-list-field-header-batch {
        width: 20px;
    }
    .sonata-ba-list-field-header-actions {
        width: 240px;
    }
}
