{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}

    <div class="panel-heading"><h3 class="panel-title"><strong>Recuperar contraseña</strong></h3></div>

    <div class="panel-body">
        <div class="alert alert-success">
            {{ 'resetting.check_email'|trans({'%email%': email}) }}
        </div>
    </div>

{% endblock %}
