{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    {% spaceless %}
        {% if value is empty %}
            &nbsp;
        {% else %}
            <span class="label label-{{ value }}">{{ ('lanzadera.product.status.'~value)|trans({}) }}</span>
        {% endif %}
    {% endspaceless %}
{% endblock %}